@import '../../node_modules/reset-css/sass/reset';

@import 'vars';
@import 'mixins';
@import 'fonts';

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  line-height: 1.5;

  ::selection {
    background-color: $color-active;
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: row;

  @include media-s-only {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include media-m {
    flex-wrap: nowrap;
    height: 100%;
  }
}

@import 'nav';
@import 'layout';
@import 'index';
@import 'list';
@import 'content';
@import 'markdown';
@import 'typer';
